#page-chooser {
    list-style-type: none;
}
#page-chooser > li {
    color: blue;
    text-decoration: underline;
}
table {
    border-collapse: collapse;
}
table,
tr,
td,
th {
    border: 1px black solid;
}
th,
td {
    padding: 2px;
}